@font-face {
  font-family: "Space";
  src: url(../fonts/SpaceGrotesk[wght].ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #262b45;
  color: white;
  font-family: "Space", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  margin: 0 auto;
  padding: 3rem 10rem 0;
  max-width: 1200px;
}

.main__title {
  font-size: 2rem;
  margin: 2rem 0;
  line-height: 2.2rem;
}

#inp {
  font-family: "Space", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.5rem;
  margin-right: 1rem;
  width: 50%;
  border-radius: 0.5rem;
  border: 2px black solid;
}

#btn {
  font-family: "Space", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px black solid;
}

.card {
  margin-top: 6rem;
}

.info {
  margin-bottom: 4rem;
  display: flex;
  gap: 6rem;
}

.info__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

h2 {
  margin-bottom: 1.8rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

h3 {
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
  line-height: 2rem;
}

h4 {
  margin-bottom: 1.2rem;
  font-size: 1rem;
  line-height: 1.4rem;
}

.avatar {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
}

a {
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-decoration: none;
  color: white;
}

.repos {
  margin-bottom: 1.8rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 2rem;
  list-style: square;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.repo__link {
  font-size: 1rem;
  vertical-align: bottom;
}
